.content {
  overflow: hidden;
  height: calc(100vh - 110px);
}

.right-Content {
  width: auto;
  overflow-x: auto;
  height: 100%;
  padding: 10px;
  background-color: #e4e9ec;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 #ddd;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 #ddd;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
}

.footer-label {
  font-size: 14px;
}

.flex {
  display: flex;
}

.w-100 {
  width: max-content;
}

.menu {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

a.selected > div {
  color: #d04b1c;
}

.list_item_icon {
  height: auto;
}

.list_item_icon > div {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  padding-right: 0px !important;
}
.open .list_item_icon > div {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
}
.fs-12 {
  font-size: 12px;
}

a {
  text-decoration: none !important;
  color: #000;
}

.p-r-30 {
  padding-right: 30px;
}

.nav-label {
  font-weight: 600;
  font-family: 'ITC Charter';
  font-size: 18px;
}
.m-t-20 {
  margin-top: 20px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.full_height {
  height: 100vh;
}
.full-width {
  width: 100%;
}
.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_card {
  width: 80vw;
  height: 80vh;
}
.crd_shadw {
  box-shadow: #d9d9d9 12px 12px 13px 13px !important;
}
.width-50 {
  width: 50%;
}
.img-width-50 {
  width: 50%;
}
.img-obj {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.syn-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.p-20 {
  padding: 20px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px;
}
.login-txt {
  font-size: 19px;
  color: #7b7b7b;
}
.mosaik-font-b {
  font-family: mosaik-font-black !important;
}
.input-direction {
  display: flex;
  flex-direction: column;
}

.dash-card-content {
  height: calc(100vh - 215px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.flex-align {
  display: flex;
  align-items: center;
}
.flex-end {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.m-t-13{
  margin-top: 13px !important;
}